{% extends 'base.html' %} {% block content %} {% load static %} {% load widget_tweaks %}
<div class="content">
    <div class="content-fluid">
        <h4 class="page-title">Notes</h4>
        <p>{{ total_notes }} notes | {{ notes_this_month }} this month | {{ notes_this_year }} this year</p>
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-end mb-2">
                    <a href="{% url 'note-add' %}" class="btn btn-success btn-sm">
                        <i class="la la-plus"></i> Add
                    </a>
                </div>
                <!-- search -->
                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-md-3"> 
                        <form class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'note-list' %}"> 
                        <div class="input-group"> 
                            <input type="text" placeholder="Search ..." class="form-control" name="q"/>  
                            <div class="input-group-append"> 
                                <button type="submit" class="input-group-text btn">  
                                    <i class="la la-search search-icon"></i>  
                                </button>
                            </div>  
                        </div>  
                        </form>
                    </div>  
                    <!-- Sort -->
                    <div class="row-md-3">
                        <div class="col-md-3">
                            <form method="get" class="d-flex align-items-center">
                                <label for="smallSelect" class="mb-0 mr-2 text-nowrap">Sort by</label>
                                <select name="sort_by" id="smallSelect" class="form-control form-control-sm mr-2" style="width: auto;">
                                    <option value="content"  {% if request.GET.sort_by == 'content'  %}selected{% endif %}>Content (A-Z)</option>
                                    <option value="-content" {% if request.GET.sort_by == '-content' %}selected{% endif %}>Content (Z-A)</option>
                                    <option value="title"     {% if request.GET.sort_by == 'title'     %}selected{% endif %}>Title (A-Z)</option>
                                    <option value="-title"    {% if request.GET.sort_by == '-title'    %}selected{% endif %}>Title (Z-A)</option>
                                    <option value="-updated"  {% if request.GET.sort_by == '-updated'  %}selected{% endif %}>Newest first</option>
                                    <option value="updated"   {% if request.GET.sort_by == 'updated'   %}selected{% endif %}>Oldest first</option>
                                </select>
                                <button type="submit" class="btn btn-primary btn-sm btn-rounded text-nowrap">Sort</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-group">
                {% for note in notelist %}
                <a href="#noteModal{{ note.id }}" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" data-target="#noteModal{{ note.id }}">
                    <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{ note.task }}</h6>
                    <input type="checkbox" name="noteRow" id="noteFavorite{{ note.id }}" class="{% if note.is_favorite %}checked{% endif %}"/>
                    <!-- <small class="text-muted">3 days ago. This is a long text that should be truncated.</small> -->
                    </div>
                    <p class="mb-1">{{ note.content|truncatechars:100 }}</p>
                    <small class="text-muted">{{ note.updated_at|date:"d-M-Y" }}</small>
                </a>
                <div class="modal fade" id="noteModal{{ note.id }}" tabindex="-1" aria-labelledby="noteModalLabel{{ note.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title fs-5" id="noteModalLabel{{ note.id }}"><!--{{ note.id }}--> {{ note.task }}</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ note.content }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="{% url 'note-delete' note.id %}" class="btn btn-success">Delete</a>
                                <a href="{% url 'note-update' note.id %}" class="btn btn-success">Edit</a></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}